{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dynamic.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Update Item</title>
    
{% endblock %}

{% block body %}
<div id="orig">
    <p><b>Original Item</b></br>
    Instruction Number: {{instruct}}</br>
    Instruction Inputs: {{params}}</p>
</div>
<div id="update">
    <form method="POST" id="update_item">
        <p><b>Update Item</b></br>
            <label for="instruction_select"><b>Specify Instruction:</b>
                <select id="instruction_select" name="instruction_select" onchange="showMore(this)"></label>
                    <option>Select Instruction</option>
                    <option value="1">1: Skip to HTML Tag</option>
                    <option value="2">2: Skip to HTML Class</option>
                    <option value="3">3: Save Value</option>
                    <option value="4">4: Save Attribute</option>
                    <option value="5">5: Back to Beginning</option>
                    <option value="6">6: Skip to Specific Attribute</option>
                    <option value="7">7: Click an Element</option>
                    <option value="8">8: Go to Previous Page</option>
                    <option value="9">9: Scrape Table</option>
                    <option value="10">10: Run Function</option>
                    <option value="11">11: For Each Loop</option>
                    <option value="12">12: Create Function</option>
                    <option value="13">13: End Function</option>
                </select>
    
                <div class ="10 2 1 3 4 9 12 op" style="display:none">
                    <label for="param" 
                    title="This is a generic name. It could be asking for a specific element label ('td', 'table') or for a name to save a value.">
                    Parameter:</label>
                    <input name="param" type="text" placeholder="param">
                </div>
    
                <div class = "6 4 11 op" style="display:none">
                    <label for="tag" title="This refers to a html value. (Examples: 'a', 'h3')">Tag:</label>
                    <input name="tag" type="text" placeholder="tag">
                </div>
    
                <div class = "11 6 op" style="display:none">
                    <label for="attribute" title="This refers to a specific label of an item in the html, such as the class.">Attribute:</label>
                    <input name="attribute" type="text" placeholder="attribute">
                </div>
    
                <div class = "6 11 op" style="display:none">
                    <label for="value" title="This refers to a specific value found in the html. (Example: 'Violations/Enforcement Actions)">Value:</label>
                    <input name="value" type="text" placeholder="value">
                </div>
    
                <div class = "11 op" style="display:none">
                    <label for="function_name" title="This refers to the name of a previously created function.">Function Name:</label>
                    <input name="function_name" type="text" placeholder="function_name">
                </div>

        <script>
            var showMore = function(option)
                {
                    var divClass = option.value;
                    $(".op").hide();
                    $("."+divClass).slideDown('medium');
                }
        </script>
        </p>
        <br/>

        <input type="submit" name="update_item" value="Update Item">
    </form>
</div>
{% endblock %}