{% extends 'base.html' %}

{% block head %}

    <title>Index Page</title>
    
{% endblock %}

{% block body %}
<div ID="scriptselection">
    <h3> Script Selection </h3>
    <p>Please select a script to run.</p>
    <form method="POST" enctype=multipart/form-data>
        <select id="SelectScript" name="SelectScript">
            <option value="Operators">Operators Spider</option>
            <option value="Systems">Systems Spider</option>
            <option value="Community_Profiles">Community Profiles</option>
        </select>
        <br/>
        <input type="submit" value="Submit" name="script"/>
    </form>
</div>

{% if operation == True %}
<div ID="mongodb">
    <h3>Please input the following MongoDB information:</h3>
    <p>This information can be found in your MongoDB Database.<br/>The connection string, or URI, is what allows the script
    to input the information into the database.<br/>The Database name is the name of your primary Database.<br/>The 
    Collection(s) name refers to the Collection/Table within the Database in which you wish to store the information.</p>
    <form method="POST" ID="mongoDB">
        <label for="download">Download as CSV?</label>
        <input type="checkbox" id="download" name="download" value="download">
        <div class="row">
            <label for="Connection">Connection String:</label>
            <input name="Connection" type="text">
        </div>

        <div class="row">
            <label for="Database">Database:</label>
            <input name="Database" type="text">
        </div>

        {% if script == "Operators" %}
        <div class="row">
            <label for="Operators">Operators Collection:</label>
            <input name="Operators" type="text">
        </div>
        <br/>
        <input type="submit" value="Submit" name="op"/>
        {% endif %}

        {% if script == "Systems" %}
        <div class="row">
            <label for="Systems">Systems Collection:</label>
            <input name="Systems" type="text">
        </div>

        <div class="row">
            <label for="SContact">Systems Contact Collection:</label>
            <input name="SContact" type="text">
        </div>
        <br/>
        <input type="submit" value="Submit" name="sys"/>
        {% endif %}

        {% if script == "Community_Profiles" %}
        <div class="row">
            <label for="Community">Community Collection:</label>
            <input name="Community" type="text">
        </div>

        <div class="row">
            <label for="CContact">Community Contact Collection:</label>
            <input name="CContact" type="text">
        </div>
        <br/>
        <input type="submit" value="Submit" name="cc"/>
        {% endif %}
    </form>
</div>
{% endif %}
{% if operation == False %}
<br/>
<p>{{msg}}</p>

{% endif %}
{% endblock %}