{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">    
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/log_output.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/log_output.js') }}"></script>
<title>Updated Scraper UI</title>
{% endblock %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-light mb-3" id="upload-nav">
    <div class="container-fluid">
        <a class="navbar-brand disabled" href="#">Dynamic Scraper</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item px-1">
                    <a id="home" class="nav-link border border" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item px-1">
                    <a id="reset" class="nav-link border border" href="{{ url_for('reset_scraper') }}">Reset Scraper</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        {% if category == 'success' %}
            <div class="alert alert-success alert-dismissible fade show " role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elif category == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endwith %}
<div id="log-output" class="mb-3 mb-3 bg-secondary bg-opacity-10 border border-secondary rounded">
    <div id="job-title" class="mb-3">
        <h2>Job Title: {{job_name}}</h2>
    </div>
    <div class="mb-3">
        <form method="POST">
            <input type="submit" class="btn btn-primary" name="scrape" value="Start Scrape">
            <input type="submit" class="btn btn-primary" name="view_result" value="View Result">
            <input type="submit" class="btn btn-primary" name="dwnload" value="Download Log">
        </form>
    </div>
    <div id="output-div" class="mb-3 d-flex justify-content-center">
        <div id="output" class="border rounded">

        </div>
        <!-- <pre id="output" class="border rounded">
        </pre> -->
    </div>
</div>

<script>
    var output = document.getElementById('output');

    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{{ url_for("log_output") }}');
    xhr.send();

    setInterval(function() {
        output.innerHTML = xhr.responseText;
        //output.textContent = xhr.responseText;
    }, 1000);
</script>

{% endblock %}