#main
{
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: space-between;
    word-wrap: break-word;
}

#output
{
    width: 100%;
}

#form
{
    float:right;
}

#selections 
{
    float:left;
}

#scrape, #url_submit, #list {
    border-style: ridge;
    border-width: 5px;
    padding: 5px;
    margin: 5px;
}


#follow_through {
    display: none;
}

table, td, th {
    border: 1px solid;
  }

table {
    width: 100%;
    border-collapse: collapse;
  }

.error {
    color: red;
}

input[type=text],
select
{
    padding: 5px;
    margin: 5px;
    border-radius:10px;
    border: 1px solid rgba(238, 238, 238, 0.405);
    background-color: #fafafa;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    transition: .3s box-shadow;
}

input[type=text]:hover, select:hover 
{
    box-shadow:0 0 4px rgba(0,0,0,0.5);
}

fieldset
{
    padding: 5px;
    margin: 5px;
    border-radius:10px;
    border: 1px solid rgba(238, 238, 238, 0.405);
    box-shadow:0 0 4px rgba(0,0,0,0.3);
}

legend
{
    background-color: #f2f2f2;
}