#main
{
    width: 100%;
}
#selections 
{
    width: 50%;
    float:left;
    display:flex;
}

#output
{
    flex-grow: 1;
    width: 100%;
    float: right;
}

#list
{
    width:80%;
    float:left;
}
#form
{
    width:40%;
    float:right;
}

table, td, th {
    border: 1px solid;
  }

table {
    width: 100%;
    border-collapse: collapse;
  }

.error {
    color: red;
}